*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#box1{
    width: 100px;
    height: 150px;
    background: #F00;
    display: inline-block;
}
#box2{
    width: 100px;
    height: 150px;
    background: #FAFF00;
    display: inline-block;
}
#box3{
    width: 100px;
    height: 150px;
    background: #05FF00;
    display: inline-block;
}
#box4{
    width: 100px;
    height: 150px;
    background: #0500FF;
    display: inline-block;
}
#box5{
    width: 100px;
    height: 150px;
    background: #FA00FF;
    display: inline-block;
}
#box6{
    width: 100px;
    height: 150px;
    background: #00FFF0;
    display: inline-block;
}